{% extends 'base.html' %}

{% block content %}
<div class="container">
    <header class="row">
        <div class='col-12 cold-md-6' id='header-text'> 
            <h2>MedPro presents the solution to risky and inconvenient paper records while supplying healthcare 
                providers with a seemless documentation experience</h2>
            <a href=""><button class="btn btn-primary" id="header-btn">Sign In with Google</button></a>
    </header>
    <!-- end of header -->
    <section class="row">
        <div class="col-12" id="middle-text">

            <h2>Healthcare meets Environmental Care</h2>
            <p>Digitalizing patient records and medical documentation
                means more trees and a healthier environment
            </p>

        </div>
    </section>
    <!-- end of mid section -->

</div>
{% endblock content %}