{% extends 'base.html' %}

{% block content %}
<h1>HEY WORLD</h1>
<div class="container">
    <header class="row">
        <div class='col-12 cold-md-6' id='header-text'> 
            <h2>Let's buld the future of drone collecting together</h2>
            <h5>Create incredible api tool for drone collecting developers</h5>
        </div>
        <div></div>
        <button class="btn btn-primary">View Documentation</button>
        <button class="btn btn-primary">Join our discord</button>
        </div>
    </header>
    <!-- end of header -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection :)</h2>
            <p>You can harness the power of an API to expand your collection</p>

        </div>
    </section>
    <!-- end of mid section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/images/api.png" alt="API image" id="api-image">
            <h4>Dedicated API routes</h4>
            <p>we have top notch dedicated api routes</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/images/graphql.png" alt="graphql-image" id="graphql-image">
            <h4>GraphQL API routes</h4>
            <p>Want all data from one endpoint? We hav that too!</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/images/db.png" alt="database-image" id="database-image">
            <h4>Backed by PostgreSQL Datatbase
            </h4>
            <p>
                all data will persist inside of a secure postgreSQL database
            </p>
        </div>
    </section>
    <!-- end of collection features -->
    <!-- Start of community section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/images/undraw_drone_surveillance_kjjg.svg" alt="Drone Image" id="drone-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>talk with like minded drone collectors</h4>
            <p>talk with other devs around the world and collab on
                projects with your data. Join our discord!
            </p>
        </div>
        <div>
            <button class="View on Github"></button>
            <button class="Join our discord"></button>
        </div>
    </section>
    <!-- end of community section -->
    <!-- start of footer section -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/images/Coding Drones Logo.png" alt="coding drones logo" id="footer-logo">
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the word</p>
                <p>Our Process</p>
                <p>Join our Discord</p>
            </div>
        </div>
        
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the word</p>
                <p>Our Process</p>
                <p>Join our Discord</p>
            </div>
        </div>
        
    </footer>
    
</div>
{% endblock content %}