{% extends 'base.html' %}

{% block content %}

<header class="her-section">
    <h3>class='header-text'</h3>
</header>

<div class="container">
    <h3>Welcome to Coding Drones! {{ current_user.email }} </h3>
    <div class="container">
        <form method='post' action=""></form>
        <table class="table">
            <thread>
                <tr>
                    <td>
                        First Name
                    </td>
                </tr>
            </thread>

        </table>

    </div>
</div>


{% endblock content %}