body{
    background-color: #ffffff;

}

.ct-nav{
    display:flex;
    justify-content: space-between;
    height: fit-content;
    background-color: #9146FF;
    position: absolute;
    width: 100%;
}

/* target main logo */

.ct-nav h1{
    width: 25%;
    max-width: 300px;
    margin-left: 2vw;
    margin-top: 14px;
    color: #ffffff;
    text-decoration: none;
}

.ct-nav a{
    text-decoration: none;
}



ul#horizontal-list{
    list-style: none;
    padding-top: 20px;
    margin-right: 1vh;
    display: flex;
    width: fit-content;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: #ffffff;
}

ul#horizontal-list a:nth-last-child(1){
    border-radius: 11px;
    margin-right: 0.2vw;
}




#header-text{
    padding: 2vw;
    text-align: center;
    margin-top: 8vh;
}

#header-btn {
    width: 28%;
    margin-top: 2vh;
    background-color: #9146FF;
    margin-top: 5vh;
}

.header-image{
    width: 82%;
    max-width: 100%;
}

#middle-text{
    text-align: center;
    padding: 5vh;


}

#middle-text h2{
    padding: 1.5vw
}

.form-group{
    margin-top: 20px;
}

#sub-btn{
    margin-top: 10px;
}

#reg-great{
    margin-top: 80px;
}

#log-great{
    margin-top: 80px;
}

#register{
    margin: auto;
    max-width: 400px;
}

#login {
    margin: auto;
    max-width: 400px;
}

